@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    outline:none !important;
}

html { 
    background: url(images/lies.jpg) no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body{
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #07051a;
  border-right: none;
  height: 48px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
  background-color: black;
  font-size: 16;
  color: white;
}

.searchTerm:focus{
  color: white;
}

.searchButton {
  width: 48px;
  height: 48px;
  border: 1px solid #07051a;
  background: #07051a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover{
    background: white;
    color: #07051a;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    /* padding: 0.5rem; */
    background-color: #efefef;
    /* opacity: 0.7; */
    text-align: center;
    color: black;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 25px;
    pointer-events: none;   
  }
  .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 0.3rem;
  
    color: grey;
    background: black;
  
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: white;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: 	#363636;
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    padding: .5rem 1rem;
  }

  .form-popup {
    display: block;
    position: fixed;
    top: 0;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #4CAF50;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }